# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc
database/games_clean.csv
database/games_details_clean.csv
database/players_clean.csv
database/ranking_clean.csv
database/teams_clean.csv
datasets_describe/games_details_summary.xlsx
datasets_describe/games_summary.xlsx
datasets_describe/players_summary.xlsx
datasets_describe/ranking_summary.xlsx
datasets_describe/teams_summary.xlsx
notebooks/best_model.h5
notebooks/final_model2.h5
notebooks/player_features.csv
notebooks/X_data2.npy
notebooks/X_scaler2.pkl
notebooks/y_data2.npy
notebooks/y_scaler2.pkl
notebooks/tuner_results/nba_lstm_tuning/trial_05/trial.json
notebooks/tuner_results/nba_lstm_tuning/trial_04/checkpoint.weights.h5
notebooks/tuner_results/nba_lstm_tuning/trial_04/trial.json
notebooks/tuner_results/nba_lstm_tuning/trial_03/trial.json
notebooks/tuner_results/nba_lstm_tuning/trial_03/checkpoint.weights.h5
.gitignore
.gitignore
notebooks/tuner_results/nba_lstm_tuning/oracle.json
notebooks/tuner_results/nba_lstm_tuning/tuner0.json
notebooks/tuner_results/nba_lstm_tuning/trial_00/build_config.json
notebooks/tuner_results/nba_lstm_tuning/trial_00/trial.json
.gitignore
.gitignore
notebooks/X_data.npy
notebooks/X_scaler_optuna.pkl
notebooks/model_evaluation.png
notebooks/best_tuned_model.h5
notebooks/best_optuna_model.keras
notebooks/final_keras_tuned_model.keras
notebooks/final_model.h5
notebooks/model_evaluation.png
notebooks/X_scaler.pkl
notebooks/tuner_results/nba_lstm_tuning/trial_04/build_config.json
.gitignore
notebooks/tuner_results/nba_lstm_tuning/trial_02/trial.json
notebooks/tuner_results/nba_lstm_tuning/trial_02/checkpoint.weights.h5
.gitignore
notebooks/tuner_results/nba_lstm_tuning/trial_02/build_config.json
notebooks/tuner_results/nba_lstm_tuning/trial_03/build_config.json
notebooks/tuner_results/nba_lstm_tuning/trial_01/trial.json
.gitignore
notebooks/tuner_results/nba_lstm_tuning/trial_01/checkpoint.weights.h5
notebooks/tuner_results/nba_lstm_tuning/trial_01/build_config.json
notebooks/tuner_results/nba_lstm_tuning/trial_00/checkpoint.weights.h5
notebooks/y_scaler.pkl
notebooks/y_scaler_optuna.pkl
notebooks/y_data.npy
results/y_scaler.pkl
results/y_data.npy
results/xgboost_tuned_model.pkl
results/X_scaler.pkl
results/X_data.npy
results/player_features.csv
results/model_evaluation.png
results/final_model.h5
results/final_keras_tuned_model.keras
results/best_tuned_model.h5
results/best_optuna_model.keras
results/best_model.h5
results/y_pred_xgb.npy
results/y_val_xgb.npy
